* {
    background-color: var(--background-colour);
    flex-wrap: wrap;
    scroll-padding-top: -285px;
}

:root {
    --card-colour: rgb(73, 23, 73);
    --background-colour: white;
    --border-radius: 20px;
    --section-background-colour: #26abff;
}

body{
    display: flex;
    flex-direction: column;
}

pre, p {
    color: black;
    background-color: var(--card-colour);
    border-radius: var(--border-radius);
}

pre {
    justify-content: center;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    /* makes text wrap */
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h1 {
    background-color: var(--section-background-colour);
    color: white;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
    background-color: var(--section-background-colour);
    border: 20px solid var(--section-background-colour);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: visible;
}

  
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--section-background-colour);
    list-style: disc;
}

header nav ul li a, header nav ul li {
    margin: 0px 20px 0px 20px;
    background-color: var(--section-background-colour);
    color: white;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 50px 20px 20px;
}

table, th, td {
    border: 1px solid;
    margin: 2px 2px;
    border-color: black;
    color: black;
    background-color: rgba(243, 79, 243, 0.6);
    margin: 0 auto;
    border-radius: 5px;
}

table, .table {
    flex: 1 0 300px;
    margin: 5px;
}

.heading{
    margin: 10px;
    color: white;
    background-color: var(--section-background-colour);
    text-align: center;
    font-size: 32px;
    font-family: serif;
    border-radius: 15px;
}

.card {
    width: 30%;
    height: auto;
    border: 2px dashed rgb(0, 255, 251);
    flex-wrap: wrap;
    display: inline;
    border-radius: var(--border-radius);
    transition: all 0.5s ease-in-out;
    justify-content: space-between;
    margin: 20px; 
}

.linear-gradient-background {
    background-image: linear-gradient(
        rgb(246, 190, 146) 0%,
        rgba(243, 79, 243, 0.6) 100%
    );
  }
    
.card:hover {
    box-shadow: inset 0px 0px 8px 
    blue, 0 0 15px 
    blue;
    }           

footer {
    display: flex;
    justify-content: center;
    background-color: var(--section-background-colour);
    border: 20px solid var(--section-background-colour);
    margin: 20px 0 0 0; 
    margin-top: auto;
}

footer h3 {
    background-color: var(--section-background-colour);
    display: flex;

}

@media screen and (min-width: 1300px) {
    main {
        display: flex;
    }
    .card {
        flex: 0 0 30%;
    }
}

@media screen and (max-width: 1300px) {
    main {
        display: flex;
    }
    .card {
        flex: 0 0 45%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        margin: 90px 90px 20px 20px;
    }
    .card{
        flex-wrap: wrap;
        flex: 0 0 90%;
    }
}